-# TDnet情報をリスト表示
-# tdis_hash()から取得

-# TDnetの戻り値は、複数の場合と単数の場合で配列階層が異なる
%section.list.border-top
  - if @tdis.count == 0
    -# TD情報がなかった場合
    = render('shared/empty_tdi')

  - elsif @tdis.count >= 2
    -# TD情報が（戻り値）が複数の場合
    = render(partial: 'shared/tdi', collection: @tdis)

  - elsif @tdis.count == 1
    -# TD情報が一つだった場合
    = render(partial: 'shared/tdi', td: @tdis)
