
<h1>Home</h1>

<!--  -->


<!-- Split button -->
<div class="btn-group">
  <button type="button" class="btn btn-primary">Default</button>
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">メニュー1</a></li>
    <li><a href="#">メニュー2</a></li>
    <li><a href="#">メニュー3</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">メニュー4</a></li>
  </ul>
</div>
