<h1>
  この度はパスワード再設定のお手続きをありがとうございます。
</h1>

<p style="margin: 0 0 10px;">
  下記URLから、パスワードの再設定が可能です。
</p>

<% url = edit_password_reset_url(@user.reset_token, email: @user.email) %>

<%= link_to url.to_s, url,
      style: "padding: 13px 17px;" %>

<p style="margin: 0 0 10px 0;">
  ※URLの有効期限は、1時間です。有効期限を過ぎると、URLは無効となります。
</p>
