%h1
  = t('user_mailer.password_reset.title')

%p
  = t('user_mailer.password_reset.click_url')

= link_to(@url.to_s, @url, style: "margin: 20px 0; padding: 13px 0;")

%p
  = t('user_mailer.password_reset.note_expiration_date')
