%p この度はパスワード再設定のお手続きをありがとうございます。

%p{ style: "margin: 10px 0;" } 下記URLから、パスワードの再設定が可能です。

- url = edit_password_reset_url(@user.reset_token, email: @user.email)

= link_to url.to_s, url, style: "margin: 10px; padding: 13px 17px;"

%p{ style: "margin: 10px 0;" } ※URLの有効期限は、1時間です。有効期限を過ぎると、URLは無効となります。
