<% provide(:title, '適時開示情報（本日分）') %>

<%# TDリスト（ウォッチリスト） %>
<section class="mb-5">
  <div class="mb-4">
    <h1 class="h5 mb-4 d-inline align-middle">
      適時開示情報（本日分）
    </h1>
    <span class="badge badge-pill badge-secondary">
      <%= @tds.count %>件
    </span>
  </div>

  <%= render 'shared/td_list' %>
  
</section>
