<% provide(:title, '新規アカウント') %>

<%# formパーシャル用 %>
<% provide(:form_id, 'signup-form') %>
<% provide(:button_text, 'アカウントを作成') %>

<h1 class="h5 pb-4">配当ノーティスに登録</h1>

<%= render 'form', user: @user %>
