<% provide(:title, 'マイページ') %>

<div class="my-4">
  <h1 class="h5"><%= @user.name %></h1>
  
<%= link_to users_path, 
            class: "btn btn-secondary btn-block btn-sm",
            method: :delete,
            role: "button" do %>
      <%= icon( "fas", "angle-left") %>
      一覧へ戻る
    <% end %>