<%# セクターをリスト表示 %>
<div class="container">
<ul class="row list-inline mb-4">
  <% @tsi.each do |v| %>
    <%# リストアイテム %>
    <%= link_to sectors_path(v[:tsi_code]),
                id: "tsi-code-#{v[:tsi_code]}", 
                class: "m-1" do %>
      <li class="sector-list-item btn btn-outline-secondary py-1 px-2 <%= params[:id].to_s == v[:tsi_code].to_s ? "active" : nil %>">
        <%# セクター名 %>
        <span class="sector-name font-weight-bold">
          <%= v[:topix_sector_indices] == "-" ? "未分類" : v[:topix_sector_indices] %>
        </span>
        <%# セクターに属している企業数 %>
        <span class="sector-count small font-weight-light">
          <%= @tsi_count[v[:topix_sector_indices]] %>
        </span>
      </li>
    <% end %> 
  <% end %>
</ul>
</div>