-# 銘柄コードの検索フォーム
-# WebAPIに直接GETする。200218現在

.ts-search.mb-4
  = form_with(url: search_path, method: :get,
              local: true,
              id: "ts-search") do |form|

    .input-group.mb-3
      = form.text_field(:local_code,
                        id: "ts-search-bar",
                        class: "form-control",
                        placeholder: t('placeholder.seatch_bar'))

      %span.input-group-append
        = button_tag(type: "submit",
                     id: "ts-search-submit",
                     class: "btn btn-outline-secondary") do
          = icon( 'fas', 'search')

