-# TDリスト（ウォッチリスト）
- provide(:title, t('.title'))

%section.mb-5
  .mb-4
    %h1.h5.mb-4.d-inline.align-middle
      = t('.title')
    %span.badge.badge-pill.badge-secondary
      = "TDI #{@tdis.count}"

  = render 'shared/tdi_list'
