%span.company-symbol.align-baseline
  %span.company-ticker.badge.badge-pill.badge-secondary.font-weight-normal
    = company.local_code
  %span.company-market.badge.badge-pill.badge-light.font-weight-normal
    = company.market_division
