<%# Companyの個別ページでTDnet情報をリスト表示 %>
<%# tds_hash()から取得 %>
<section class="tds-list list border-top">
  <% @tds.each do |td| %>
    <% # 情報抽出 
      local_code = td["Tdnet"]["company_code"].chop 
      company_name = Company.where(local_code: local_code).pluck(:company_name)[0]
    %>

    <%# ドキュメントリスト %>
    <div class="list-item doc-info position-relative py-3 px-2 border-bottom">
      <%= link_to(URI.parse(td["Tdnet"]["document_url"]).query,
                  target: "_blank",
                  class: "stretched-link text-decoration-none" ) do %>
        
        <%# 公開日時 %>
        <div class="td-item pub-date badge badge-pill badge-info px-2 mb-1">
          <%= td["Tdnet"]["pubdate"] %>
        </div>

        <%# ドキュメント名 %>
        <div class="td-item doc-title">
          <%= td["Tdnet"]["title"] %>
          <%= icon("fas", "clone", class: "caption-text") %>
        </div>
      <% end %>
    </div>
  <% end %>
</section>