-# Companyの個別ページでTDnet情報をリスト表示
-# tds_hash()から取得

.list-item.doc-info.position-relative.py-3.px-2.border-bottom
  = link_to(URI.parse(td["Tdnet"]["document_url"]).query,
    target: "_blank",
    class: "stretched-link text-decoration-none" ) do
    .td-item.pub-date.badge.badge-pill.badge-info.px-2.mb-1
      = td["Tdnet"]["pubdate"]
    .td-item.doc-title
      = td["Tdnet"]["title"]
      = icon("far", "clone", class: "caption-icon")

