<div class="content-title">
  <h1> 
    <%= @companies[0][:topix_sector_indices] == "-" ? "未分類" : @companies[0][:topix_sector_indices] %>
    <span class="h1-small">の企業</span>
  </h1>
</div>

<%# 銘柄コード検索フォーム %>
<%= render 'shared/ts_search' %>

<%# セクターをリスト表示 %>
<%= render 'shared/sector_list' %>

<%# 企業一覧を表示 %>
<%= render 'companies/company_list' %>

