-# 各セクターの企業一覧
- topix_sector_indices = @companies[0][:topix_sector_indices] == "-" ? "未分類" : @companies[0][:topix_sector_indices]
- provide(:title, "セクター別の企業一覧 : #{topix_sector_indices}")

.content-title.mb-4
  %h1.h5
    セクター別
  %h2.font-weight-bold
    = topix_sector_indices

-# セクターをリスト表示
%button.btn.btn-outline-secondary.btn-block.btn-sm{"aria-controls" => "sector-list", "aria-expand" => "false", "data-target" => "#sector-list", "data-toggle" => "collapse"}
  セクター一覧
#sector-list.collapse.pt-3
  = render 'shared/sector_list'

-# 企業一覧を表示
= render 'companies/company_list'
