<%# 各セクターの企業一覧 %>
<% topix_sector_indices = @companies[0][:topix_sector_indices] == "-" ? "未分類" : @companies[0][:topix_sector_indices] %>
<% provide(:title, "セクター別の企業一覧 : #{topix_sector_indices}") %>

<div class="content-title mb-4">
  <h1 class="h5"> 
    セクター別
  </h1>
  <h2 class="font-weight-bold">
    <%= topix_sector_indices %>
</h2>
</div>

<%# セクターをリスト表示 %>
<button class="btn btn-outline-secondary btn-block btn-sm"
  data-toggle="collapse"
  data-target="#sector-list"
  aria-expand="false"
  aria-controls="sector-list">
  セクター一覧
</button>
<div id="sector-list" class="collapse pt-3">
    <%= render 'shared/sector_list' %>
</div>

<%# 企業一覧を表示 %>
<%= render 'companies/company_list' %>

