nav li {

}
.nav-fa {
  margin: 0;
  padding: 0;
  line-height: 0.7em;
}
.nav-text {
  font-size: 0.7em;
  line-height: 0.7em;
}

//TD情報リスト
.caption-text {
  font-size: 0.8em;
  color: #666666;
}



// セクターリスト
.sector-count {

}

//企業リスト
.company-market, .company-ticker {

}

