%p
  #{@resource.email}さん、パスワード再設定のお手続きをありがとうございます。

%p
  下記のリンクから、パスワードの再設定が可能です。

%p
  = link_to 'パスワードの再設定',
            edit_password_url(@resource, reset_password_token: @token)

%p
  もしこのお手続きに心当たりがなかった場合、このメールは無視してください。

%p
  上記リンクにアクセスしてパスワードの再設定をしない限り、パスワードは変更されません。
