%p
  #{@resource.email}さん、日頃よりRGAのご利用ありがとうございます。

%p
  不正なログインが規定回数を超えましたので、お持ちのアカウントは凍結されました。

%p
  下記のリンクにアクセスすることで、アカウント凍結は解除することができます。

%p
  = link_to 'アカウント凍結を解除',
            unlock_url(@resource, unlock_token: @token)
